<h3>Satellite Counts:</h3>
<div class="counts">
  <div>
    Total: <span>{{ satellites.length }}</span>
  </div>
  <div>
    Space Debris: <span>{{ findSatelite("Space Debris") }}</span>
  </div>
  <div>
    Communication: <span>{{ findSatelite("Communication") }}</span>
  </div>
  <div>
    Probe: <span>{{ findSatelite("Probe") }}</span>
  </div>
  <div>
    Positioning: <span>{{ findSatelite("Positioning") }}</span>
  </div>
  <div>
    Space Station: <span>{{ findSatelite("Space Station") }}</span>
  </div>
  <div>
    Telescope: <span>{{ findSatelite("Telescope") }}</span>
  </div>
</div>
